<div class="container my-5">
  <div [ngClass]="{ 'form-wrapper': true, 'dark-form': isDarkMode }">
    <h2 class="mb-4 text-center">Contact Me</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" />
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" />
      </div>
      <div class="mb-3">
        <label>Subject</label>
        <input type="text" formControlName="subject" class="form-control" />
      </div>
      <div class="mb-3">
        <label>Message</label>
        <textarea formControlName="message" class="form-control" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-danger w-100" [disabled]="contactForm.invalid">Send</button>
    </form>

    <div *ngIf="responseMessage" class="alert alert-success mt-3">{{ responseMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </div>
</div>
