<footer class="bg-dark text-white py-4 mt-auto">  
    <div class="container text-center">  
      <p>&copy; 2025 MyPortfolio. All rights reserved.</p>  
      <div>  
        <!-- Social Icons -->  
        <a href="https://github.com/laggisettysurendrakumar/" class="text-white me-3"  target="_blank" ><i class="bi bi-github"></i></a>  
        <a href="https://www.linkedin.com/in/surendrakumarlaggisetty/" class="text-white me-3" target="_blank"><i class="bi bi-linkedin"></i></a>  
      </div>  
    </div>  
  </footer>  
  