<nav class="navbar navbar-expand-lg shadow-lg sticky-top" 
     [class.bg-dark]="isDarkMode" 
     [class.bg-gradient]="!isDarkMode"
     [class.navbar-dark]="isDarkMode" 
     [class.navbar-light]="!isDarkMode">

  <div class="container">
    <!-- Brand/Logo -->
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
      <img [src]="logoImage" alt="Logo" width="40"  height="40" class="rounded-circle shadow-sm" />
      <span class="fs-4 fw-bold"></span>
    </a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-2">
        <li class="nav-item">
          <a class="nav-link stylish-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link stylish-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link stylish-link" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link stylish-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>

       

        <!-- Theme toggle -->
        <li class="nav-item ms-2">
          <button class="btn btn-outline-light rounded-circle" (click)="toggleTheme()" style="width: 40px; height: 40px;">
            <i [ngClass]="isDarkMode ? 'bi bi-sun-fill' : 'bi bi-moon-fill'"></i>
          </button>
        </li>

        <li class="nav-item" >
          <button class="btn btn-danger w-100" (click)="toggleLoginStatus()">{{loginStatusText}}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
